.idea
node_modules

.env

dist
*.log
.storage
.verdaccio
.config
.history

.esbuild
coverage
.coverage
.eslintcache

.DS_Store

.vscode
!.vscode/extensions.json

.tsbuildinfo

# CDK asset staging directory
.cdk.staging
cdk.out

.turbo

.out
out
